* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(135deg, white, #fff5f5);
  min-height: 100vh;
  position: relative;
}

.logo-container {
  height: 7.5rem;
  padding: 2.5rem;
}

@media only screen and (min-width: 992px) {
  .logo-container {
    padding-left: 0;
    margin-left: 7.5rem;
  }
}

.logo {
  width: 10rem;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  width: 100%;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  footer .attribution {
    text-align: left;
    margin-left: 7rem;
  }
}

footer .attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 992px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -7.5rem;
    margin-left: 7rem;
  }
}

.hero {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .hero {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
    margin-left: 2rem;
  }
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (min-width: 992px) {
  .hero img {
    width: auto;
    height: 100vh;
  }
}

.coming-soon {
  max-width: 42.5rem;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 0 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .coming-soon {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 45rem;
    margin-top: unset;
    padding: 5rem 2rem;
    background: linear-gradient(135deg, white, #fff5f5);
  }
}

@media only screen and (min-width: 992px) {
  .coming-soon {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    bottom: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    max-width: 45rem;
    margin-left: 0;
    padding: unset;
    background: unset;
  }
}

.coming-soon__heading {
  font-size: 4rem;
  color: #413a3a;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.coming-soon__heading span {
  display: block;
}

.coming-soon__heading span:first-child {
  color: #ce9797;
  font-weight: 300;
}

.coming-soon__message {
  color: #ce9797;
  line-height: 1.4;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.coming-soon__form {
  width: 100%;
  position: relative;
}

.email {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 5rem;
  outline: none;
  width: 100%;
}

.email::-webkit-input-placeholder {
  color: #ce9797;
}

.email:-ms-input-placeholder {
  color: #ce9797;
}

.email::-ms-input-placeholder {
  color: #ce9797;
}

.email::placeholder {
  color: #ce9797;
}

.btn-submit {
  cursor: pointer;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 1.3rem 3rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-shadow: 0.1rem 1rem 1.6rem 0.3rem rgba(206, 151, 151, 0.5);
          box-shadow: 0.1rem 1rem 1.6rem 0.3rem rgba(206, 151, 151, 0.5);
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

@media (hover: hover) {
  .btn-submit:hover {
    background: #f8bfbf;
    -webkit-box-shadow: 0.1rem 1.4rem 1.6rem 0 rgba(206, 151, 151, 0.6);
            box-shadow: 0.1rem 1.4rem 1.6rem 0 rgba(206, 151, 151, 0.6);
  }
}

.error-msg {
  opacity: 0;
  color: #f96262;
  text-align: left;
  margin-top: 0.8rem;
  margin-left: 2rem;
}

.error-input {
  -webkit-box-shadow: inset 0 0 0 2px #f96262;
          box-shadow: inset 0 0 0 2px #f96262;
}

.error-icon {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 7.2rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding-right: 1rem;
}

.show {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */