.container {
}

.logo-container {
  height: 7.5rem;
  padding: 2.5rem;

  @include bp(lg) {
    padding-left: 0;
    margin-left: 7.5rem;
  }
}

.logo {
  width: 10rem;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  width: 100%;

  .attribution {
    font-size: 11px;
    text-align: center;

    @include bp(lg) {
      text-align: left;
      margin-left: 7rem;
    }

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
